<settings>
	<category label="Belépés">
		<setting id="cookie_file" type="file" label="Cookie fájl (Cookie-Editor Export - nincs gépelés)" default="" />
		<setting id="cookie" type="text" label="VAGY Cookie szöveg (PHPSESSID=...; loginkey=...)" default="" />
		<setting id="base_url" type="text" label="Alap URL (csak domainváltáskor)" default="https://magyaranime.eu/" />
		<setting id="debug" type="bool" label="Hibakeresési naplózás" default="false" />
	</category>
</settings>
