<settings>
	<category label="Belépés">
		<setting id="cookie" type="text" label="Cookie (PHPSESSID=...; loginkey=...)" default="" />
		<setting id="base_url" type="text" label="Alap URL (csak domainváltáskor)" default="https://magyaranime.eu/" />
		<setting id="debug" type="bool" label="Hibakeresési naplózás" default="false" />
	</category>
</settings>
